nav {
  position:fixed;
  display: flex;
  flex-direction: row;
  background-color: #002651;
  /* height: 100px; */
  top: 0px;
  left: 0px;
  height: 82px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spacer {
  width: 1500px;
}
.navlink {
  height: 10px;  
  margin: 1%;
}
a {
  text-decoration: none;
  color: #8C71E8;
}

.naada{
  text-align: center;
  font-size:200%;
  margin:1;
  letter-spacing: 1px;
  color: #8C71E8;
  opacity: 1;
}
