.merchpage {
  margin-top: 82px;
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.merchitems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: left;
  align-items: left;
}
.sidebar-container {
  /* border: 3px solid pink; */
  height: 100vh;
  width: 20vw;
  position: fixed;
}

.searchNmerch {
  margin-top: 10px;
  margin-left: 25%;
}
