.signin-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20%;
  margin-left: 20%;
}

.loginTag{
    color: #002651;
    font-size: x-large;
    font-weight: 501;
    letter-spacing: 1px;    
    transition: all 250ms ease-in-out;
}
.ipcontainer {
  height: 5rem;
  width: 20rem;
  transition: all 250ms ease-in-out;
}
.inputlogin {
  height: 3rem;
  border: 1px solid #707070;
  width: 20rem;
  border-radius: 15px;
  padding-left: 10%;
  transition: all 250ms ease-in-out;
}
.submitbtm{
    height: 3rem;
    width: 22rem;
    background-color:#002651;
    font-size: medium;
    color: white;
    cursor: pointer;
    border-radius: 15px;

}

.signUpTag{
    margin-top: 35%;
    
}

