.homepage-container{

  display:flex;
  flex-direction:row;
  margin-top: 82px;
}

.sidebar-container{

  /* border: 3px solid pink; */
  height:100vh;
  width: 20%;
  position: fixed;
  background-color: #D4E6FADE;
  

}

.feedContainer{
  height:fit-content;
  padding-left: 20%;
  width: 80%;
  margin-left: 20%;
  
}
